<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Easiest Way to Add Input Masks to Your Forms</title>
  <link href="form.component.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="form.component.css" />
</head>
<body>
  <div class="registration-form">
    <form [formGroup]="formUser" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="nome"
          placeholder="Nome"
          formControlName="nome"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control item"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control item"
          id="senha"
          placeholder="Senha"
          formControlName="senha"
        />
      </div>
      <div class="form-group">
        <input
          type="string"
          class="form-control item"
          id="cpf"
          placeholder="CPF"
          formControlName="cpf"
        />
      </div>
      <div class="form-group">
        <input
          type="string"
          class="form-control item"
          id="username"
          placeholder="Nome De Usuário"
          formControlName="nomeDeUsuario"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block create-account">
          Gravar
        </button>
        <button
          (click)="this.goToDashboard()"
          type="button"
          class="btn btn-block create-account"
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</body>
