<link href="produtos.component.css" rel="stylesheet" />
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/dashboard">Teste Docato</a>
  <div class="btn-group btn-group-toggle inline" data-toggle="buttons">
    <div class="btn-group btn-group-toggle inline">
      <label
        class="btn btn-secondary"
        (click)="goToListar()"
        type="button"
        name="options"
        id="option1"
        autocomplete="off"
      >
        Lista de Usuários
      </label>
    </div>
    <div class="btn-group btn-group-toggle inline">
      <label
        class="btn btn-secondary"
        (click)="goToProdutos()"
        type="button"
        name="options"
        id="option2"
        autocomplete="off"
      >
        Lista de Produtos Docato
      </label>
    </div>

    <div class="btn-group btn-group-toggle inline">
      <label
        class="btn btn-secondary"
        (click)="goToDashboard()"
        type="button"
        name="options"
        id="option4"
        autocomplete="off"
      >
        Página Inicial
      </label>
    </div>
  </div>

  <main class="main" fxFlex="100%" *ngIf="produtos">
    <body>
      <div class="card-header border-0">
        <h3 class="mb-0">Lista de Produtos</h3>
      </div>

      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Produto</th>
              <th scope="col">Descrição</th>
              <th scope="col">Preço</th>
              <th scope="col">Contratar</th>
            </tr>
          </thead>
          <tbody *ngFor="let produto of produtos; let i = index">
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ i + 1 }}</span>
                  </div>
                </div>
              </th>
              <td>{{ produto.nome }}</td>
              <td>
                <span class="badge badge-dot mr-4">
                  {{ produto.descricao }}
                </span>
              </td>
              <td>
                {{ produto.preco }}
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <a
                      href="{{ produto.link }}"
                      type="button"
                      class="btn btn-outline-primary"
                    >
                      {{ produto.botao }}
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>
  </main>
</nav>
