<main class="main" fxFlex="100%" *ngIf="produtos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <div class="d-flex flex-row-reverse">
          <button
            (click)="this.goToDashboard()"
            type="button"
            class="btn btn-outline-secondary"
          >
            Voltar
          </button>
        </div>
      </tr>
    </thead>
    <tbody *ngFor="let produto of produtos; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.preco }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary">
            {{ produto.botao }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
