<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Usuário</a>
  <form class="form-inline">
    <div class="d-flex align-items-end">
      <input
        (change)="changeText($event)"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        (click)="this.getUsuario()"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Pesquisar
      </button>
      <button
        (click)="this.insertUser()"
        type="button"
        class="btn btn-outline-secondary"
        style="margin-left: 8px"
      >
        Adicionar Usuário
      </button>
    </div>
  </form>
</nav>
<main class="main" fxFlex="100%" *ngIf="usuarios">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">CPF</th>
        <th scope="col">Nome de Usuário</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of usuarios; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.cpf }}</td>
        <td>{{ usuario.nomeDeUsuario }}</td>
        <td>
          <button
            (click)="this.goToUpdate(usuario._id)"
            type="button"
            class="btn btn-outline-primary"
          >
            Editar
          </button>
        </td>
        <td>
          <button
            (click)="this.deleteUser(usuario._id)"
            type="button"
            class="btn btn-outline-danger"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
