<head>
  <link href="dashboard.component.scss" rel="stylesheet" />
</head>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/dashboard">Teste Docato</a>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label
      class="btn btn-secondary"
      (click)="goToListar()"
      type="button"
      name="options"
      id="option1"
      autocomplete="off"
    >
      Lista de Usuários
    </label>
    <label
      class="btn btn-secondary"
      (click)="goToProdutos()"
      type="button"
      name="options"
      id="option2"
      autocomplete="off"
    >
      Lista de Produtos Docato
    </label>
    <label
      class="btn btn-secondary"
      (click)="goToCadastroUsuario()"
      type="button"
      name="options"
      id="option2"
      autocomplete="off"
    >
      Cadastrar Usuário
    </label>
  </div>
  <div class="btn-group btn-group-toggle inline">
    <label
      class="btn btn-secondary"
      (click)="logout()"
      type="button"
      name="options"
      id="option2"
      autocomplete="off"
    >
      logout
    </label>
  </div>
</nav>

<main class="main" fxFlex="100%">
  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Teste Docato</h1>
        <p class="lead text-muted">
          Sistema desenvolvido para testar os conhecimentos em Node.js e Angular
        </p>
      </div>
    </section>
  </body>
</main>
